---
/**
 * * CTA section with glow around card and centered text and button
 */

import Button from "@components/Button/Button.astro";
---

<section id="CTA" class="my-24 py-8 md:my-36">
  <div class="site-container">
    <div
      class=`group relative h-full w-full rounded-2xl bg-gradient-to-br from-primary-400 via-base-300/70 to-primary-400
      dark:from-primary-500 dark:via-base-300/50 dark:to-primary-500
      after:absolute after:rounded-[calc(1rem-1px)] after:bg-base-100/30 dark:after:bg-base-800/50 after:inset-[1px]`
    >
      <!-- background glows -->
      <div
        class="bg-primary-600/70 absolute top-0 left-0 -z-10 mx-auto aspect-square w-[20%] blur-3xl"
      >
      </div>

      <div
        class="bg-primary-600/70 absolute right-0 bottom-0 -z-10 mx-auto aspect-square w-[20%] blur-3xl"
      >
      </div>

      <!-- center card -->
      <div class="relative z-10 p-1">
        <div class="bg-base-100 dark:bg-base-800 rounded-xl px-4 py-20 text-center">
          <div class="mx-auto max-w-xl">
            <div class="flex justify-center">
              <p class="colored-title inline">Make more money</p>
            </div>
            <h2 class="h1 mt-8">What are you waiting for?</h2>
            <p class="description mt-6">
              Get your beautiful and effective website up in running in a snap with Galaxy today.
            </p>
            <div class="mt-8 flex justify-center">
              <Button
                variant="primary"
                href="https://cosmicthemes.com/themes/galaxy/"
                target="_blank"
                rel="noopener noreferrer"
              >
                Get Galaxy
              </Button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
