---
import { getRelativeLocaleUrl } from "astro:i18n";

// utils
import { slugify, categorify, humanize } from "@js/textUtils";
import { getLocaleFromUrl } from "@js/localeUtils";

interface Props {
	category: string | undefined;
	class?: string;
}

const { category, class: classList } = Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);
---

{
	category && (
		<a
			href={getRelativeLocaleUrl(currLocale, `/categories/${slugify(category)}/`)}
			class:list={["main-text-gradient font-medium", classList]}
		>
			{humanize(category)}
		</a>
	)
}
