---
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";
import { Image } from "astro:assets";

import { getLocalizedRoute } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);

// images
import logo from "@images/site-logo.svg";
---

<a
  class="primary-focus flex items-center align-middle gap-3"
  href={getLocalizedRoute(currLocale)}
>
  <Image
    src={logo}
    alt="Uku logo"
    loading="eager"
    width={120}
    height={40}
    class="h-10 w-auto"
    aria-hidden="true"
  />
</a>
